* {
  padding: 0;
  margin: 0;
}
.container {
  background: url("./mountains.svg"),
    linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-repeat: non-repeat;
  background-size: cover;
}
section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header.nav {
  width: 100%;
  height: 71px;
}
.top {
  width: 1170px;
  height: 71px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 202px;
  height: 28px;
  margin: 0px 10px 0px 0px;
}
/* links in navbar */
.nav-links a {
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  line-height: 35px;
  margin: 16px 15px 19px;
}
.nav,
.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.nav-status::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #47c652;
  border-radius: 25px;
  display: inline-block; /* not shown if not given*/
  position: relative;
  left: 6px;
}
/* log in effect */
.log-in:hover,
.sign-up:hover {
  text-decoration: underline;
  color: white;
}
.log-in {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}
.sign-up {
  background-color: #f47b21;
  border-radius: 3px;
}

.index {
  background-repeat: non-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 614px;
  margin: auto;
  padding: 140px 0 0 0;
}
.text-area {
  width: 1140px;
  height: 314px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-area-left {
  margin-top: 20px;
}
.text-area-right {
  margin-top: 20px;
}
h2 {
  width: 433.73px;
  height: 80px;
  color: #ffffff;
  font: 32px Promo, Helvetica;
  margin: 0px 0px 20px;
}
h4 {
  width: 433.73px;
  height: 50px;
  color: #ffffff;
  font: 18px Promo, Helvetica, Arial, san-serif;
}
.number {
  width: 388px;
  height: 44px;
  background-color: aqua;
}
