* {
  padding: 0;
  margin: 0;
}
.body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.first-page-top {
  width: 1512px;
  height: 614px;
  background: url("./mountains.svg"),
    linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-repeat: non-repeat;
  background-size: cover;
}
section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top {
  width: 1170px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 202px;
  height: 28px;
  margin: 0px 10px 0px 0px;
}
/* links in navbar */
.nav-links a {
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  line-height: 35px;
  margin: 16px 15px 19px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.nav-status::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #47c652;
  border-radius: 25px;
  display: inline-block; /* not shown if not given, block also works*/
  position: relative;
  left: 16px;
}
/* log in effect */
.log-in:hover,
.sign-up:hover {
  text-decoration: underline;
  color: white;
}
.log-in {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}
.sign-up {
  background-color: #f47b21;
  border-radius: 3px;
}

.index {
  background-repeat: non-repeat;
  background-size: cover;
  color: #fff;
  width: 1170px;
  height: 614px;
  margin-left: auto;
  margin-right: auto;
}
.text-area {
  width: 1170px;
  height: 414px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-area-left {
  margin-top: 20px;
}
.row-below-number {
  margin: 45px 5px 5px 0;
}
.free {
  font-family: FriendlyFont, sans-serif;
}

.button.start-btn {
  background: #f47b21;
  margin-top: 20px;
  white-space: nowrap;
  width: 230px;
  height: 60px;
  border-radius: 3px;
  padding: 20px 12px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin-right: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.05), 0 1px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  line-height: 60px;
}

.text-area-right {
  margin-top: 20px;
  width: 492px;
  height: 300px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  background-color: #16394c;
  border: 4px solid #608094;
  border-radius: 10px;
}
.location-row {
  display: block;
  text-align: center;
  height: 10px;
  padding-top: 15px;
}
.middle-row {
  height: 137px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 0;
}
.middle-row-icon {
  width: 140px;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 19px;
  text-align: center;
}
.middle-row-description {
  display: inline-block;
  width: 140px;
  height: 19.59px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}
.middle-row-description-degree {
  font-size: 24px;
}
.middle-row-details {
  width: 175px;
  padding-left: 20px;
}
.lower-row {
  height: 107px;
  /* background-color: aliceblue; */
}
h2 {
  width: 433.73px;
  height: 80px;
  color: #ffffff;
  font: 32px Promo, Helvetica;
  margin: 0px 0px 20px;
}
h4 {
  width: 433.73px;
  height: 50px;
  color: #ffffff;
  font: 18px Promo, Helvetica, Arial, san-serif;
}
.number {
  font-size: 17px;
  font-family: Promo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 0 solid rgba(255, 255, 255, 1);
  border-radius: 17px;
  padding: 6px 10px 13px 16px;
  width: 388px;
  height: 24px;
  line-height: 24px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}
.trophy-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  padding-right: 6px;
}
.lower-row-days.flex-container {
  width: 492px;
  height: 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-item-day-temp {
  width: 95px;
  height: 107px;
  text-align: center;
  margin-top: 10px;
  /* border: solid black; */
}
.day-name {
  font-weight: 600;
  font-size: 12px;
}
.full_sun {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  background: url("./weather_icon_full_sun.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 17px !important;
}
.partly_cloudy {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  background: url("./weather_icon_partly_cloudy.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 17px !important;
}
.day-temp {
  font-weight: 600;
  font-size: 14px;
}
.grey-row {
  background-color: #eff2f5;
  width: 100%;
  height: 136px;
  display: flex;
}
.customers {
  width: 1170px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.happy-customers {
  width: 170px;
  height: 50px;
  /* border: solid black; */
  line-height: 50px;
  font-weight: 300;
  font-size: 15px;
}
.flex-customer-names {
  /* border: solid black; */
  width: 1000px;
  display: flex;
  justify-content: space-around;
}
.name-flex-item {
  /* border: solid black; */
  width: 145px;
  height: 48px;
}

.deloitte {
  background: url(./client_deloitte.svg);
  background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
}
.microsoft {
  background: url(./client_microsoft.svg);
  background-size: 135px;
  background-position: center;
  background-repeat: no-repeat;
}
.warnerbros {
  background: url(./client_warnerbros.svg);
  background-size: 48px;
  background-position: center;
  background-repeat: no-repeat;
  width: 110px;
}
.wawa {
  background: url(./client_wawa.svg);
  background-size: 85px;
  background-position: center;
  background-repeat: no-repeat;
  top: -4px;
  width: 132px;
  left: 4px;
}
.schneider {
  background: url(./client_schneider.svg);
  background-size: 125px;
  background-position: center;
  background-repeat: no-repeat;
  top: 4px;
}
.ericsson {
  background: url(./client_ericsson.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 112px;
  top: -1px;
}
.advantages {
  width: 100%;
  height: 327px;
}
.four-advantages {
  width: 1170px;
  height: 247px;
  background-color: #eff2f5;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage-item {
  width: 250px;
  height: 200px;
  margin: 0 12px;
  text-align: left;
  border-radius: 5px;
  vertical-align: text-top;
  background-color: #ebeff4;
  padding: 10px;
}
.advantage-item h5:before {
  display: block;
  font-weight: 400;
  font-size: 30px;
  content: "\e959 icon"; /* ? 8 */
  margin-bottom: 20px;
  text-align: left;
}
.advantage-item h5 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.advantage-item p {
  font-size: 18px;
  line-height: 20px;
}
.map-area {
  background: #ffffff;
  padding: 25px 0 65px 0;
  width: 1170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-area-left {
  max-width: 440px;
  height: 334px;
}
.left-details {
  width: 440px;
  height: 100%;
}
.left-details > h4 {
  color: black;
  font-size: 25px;
  line-height: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 0;
}

.left-details p {
  margin: 0 0 10px 0;
}
.left-details ul {
  /* border: solid blue; */
  list-style-type: none;
  margin: 1em 0;
}
.left-details ul li {
  /* border: solid black; */
  margin-bottom: 5px;
  font-size: 15px;
}
.left-details ul li i {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.right-map {
  width: 635px;
  height: 347px;
}
.map-area img {
  width: 635px;
  height: 347px;
}
.methods {
  display: inline-block;
  width: 100%;
  height: 1027.09px;
  background: #184157 url(./bg_waves_4.svg);

  border: solid black;
}
.methods-container {
  border: solid black;
  max-width: 1170px;
  /* height: 1000px; */ /*as large as needed if not set*/
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  display: block;
}
.coverage::before {
  content: "Example";
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background: #416376;
  width: 100px;
  border-radius: 99px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
}
.coverage {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}
.methods-container h5 {
  font-size: 20px;
  line-height: normal;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.click-to-change {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  /* background-color: #c0c1d4; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.click-to-change li {
  list-style: none;
  display: inline-block;
  width: 225px;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.with-radius-first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.with-radius-last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.click-to-change li a {
  width: 204px; /* change the value to a smaller one, why no longer centered */
  display: inline-block;
  padding: 16px 10px 18px 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.with-radius-first.selected-first {
  background-color: #f47b21;
  border-color: #f47b21;
  color: black;
}
.results {
  display: block;
  background-color: #17242b;
  /* border: solid red; */
  height: 200px;
  width: 673px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: auto;
  text-align: left;
}
.flex-container-for-six {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1140px;
  /* height: 300px; */
  margin-left: auto;
  margin-right: auto;
}
.flex-item-of-six {
  display: block;
  /* border: solid red; */
  height: 140px;
  width: 370px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: left;
}
.grid-container {
  /* border: solid blue; */
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.grid-container h4 {
  /* border: solid blue; */
  font-size: 25px;
  line-height: normal;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-bottom: 20px;
}

.grid-container h5 {
  /* border: solid blue; */
  font-size: 20px;
  line-height: normal;
  font-weight: 300;
  max-width: 560px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font: 18px Helvetica, Arial, san-serif;
}
h5,
p {
  font: Helvetica, Arial, san-serif;
}
.grid-container ul {
  font-size: 0;
  text-align: center;
}
.grid-container ul li {
  display: inline-block;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  border: solid saddlebrown;
  margin-right: 10px;
  margin-bottom: 10px;
}
.grid-container ul li.daimler {
  background: #263e6a url(./client_white_daimler.svg);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container ul li.deloitte {
  background: #eef2f5 url(./client_deloitte.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container ul li.e {
  background: #01275b url(./client_white_ericsson_2.svg);
  background-size: 65px;
  width: 105px;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container ul li.m {
  background: #eef2f5 url(./client_microsoft.svg);
  background-size: 175px;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container ul li.s {
  background: #009e4d url(./client_white_schneider.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container ul li.w {
  background: #027ac2 url(./client_white_warnerbros.svg);
  background-size: 65px;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
}
.grid-container ul li.wawa {
  background: #ee2e25 url(./client_white_wawa.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
}
.grid-container ul li.ca {
  background: #eef2f5 url(./client_canda.svg);
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: center;
  width: 253px;
}
.grid-container ul li.mc {
  background: #23477f url(./client_mckinsey.svg);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
}
.grid-container ul li.r {
  background: #eef2f5 url(./client_rimowa.svg);
  background-size: 155px;
  background-repeat: no-repeat;
  background-position: center;
}
.row-only {
  padding: 45px 30px 50px 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  background: #eef2f5;
  background-size: 20%;
  background-repeat: no-repeat;
}
footer {
  background-color: #184157;
  font-size: 14px;
  color: #fff;
  padding: 50px 0;
  width: 100%;
  /* border: solid black; */
}
.bottom-container {
  text-align: center;
  width: 1170px;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.five-cols {
  /* border: solid white; */
  width: 196px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}

.first-col img {
  width: 197px;
  height: 35px;
}

.social-links {
  width: 197px;
}
.social-links span {
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  /* border: solid green; */
}

.social-links span img {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.second-col {
  /* border: solid green; */
  height: 30px;
}
.second-col.larger {
  height: 40px;
}
.second-col a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.second-col a:hover {
  text-decoration: underline;
}
